<!DOCTYPE html>
<html>
  <head>
    <title>Twitter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <ul class="nav">
    <% if user_signed_in? %>
      <li><%= current_user.username %></li>
    <% end %> 
    <li><%= link_to 'Home' %></li>
    <li><%= link_to 'Notifications' %></li>
    <li><%= link_to 'Messages' %></li> 
    <% if !user_signed_in? %>
     <li><%= link_to 'Sign up', new_user_registration_path %></li>
     <li><%= link_to 'Sign in', new_user_session_path %></li>
      <% else %>
       <li style="float:right"><%= link_to 'Log out', destroy_user_session_path, method: :delete %></li>  
       <li><%= link_to 'Settings', edit_user_registration_path %></li>
    </ul>
        
    <%  end %>



    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
